* {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin: 0px auto;
    padding: 0px auto;
    background-color: rgb(3, 3, 3);
}

/* Style the header with a grey background and some padding */
.header {
    overflow: hidden;
    padding: 25px;
}

/* Style the header links */
.header a {
    float: left;
    text-align: center;  
    text-decoration: none;
    font-size: 18px;
    padding: 7px; /*whitespaces in the border*/
}
/*
for the button
#contacts {
    float: left;
    text-align: center;
    font-size: 18px;
    border: none;
    outline: unset;
    padding: 5px 12px; /*whitespaces in the border
}
*/
/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a#logo {
    padding: 0px 0px 0px 8px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 28px;
    font-weight: bolder;
    color: #909058;
}

/* Change the background color on mouse-over */
#header_right a:hover {
    background-color: rgb(105, 105, 105);
}

/* Float the link section to the right */
#header_right {
    float: right;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (min-width: 500px) {
    .header a {
        display: inline;
        text-align: left;
    }
    .content .paragraphs {
        margin: 0 auto;
        width: 400px; 
    }
}
/* Styling the content*/
.content {
    display: block;
    padding: 0px;
}
.content h1  {
    font-size: 35.5px;
    text-align: center;
}

.content .sub_title {
    text-align: center;
    font-size: 17px;
    padding-top: 2px;
}

.content .paragraphs {
    text-align: center;
    font-size: 15px;
    letter-spacing: .3px;
    line-height: 20px;
    padding-top: 10px;
    padding-bottom: 2px;
}
#event {
    text-align: center;
    font-size: 25px;
    letter-spacing: .3px;
    padding-top: 10px;
}
.clock {
    border: 5px solid #f3f3f3;    
    border-top: 5px solid #cf2e2e;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
#counter {
    text-align: center;
    font-size: 17px;
    letter-spacing: .3px;
    padding-top: 10px;
}

.buttons {
    border: unset;
    outline: unset;
}

.footer, #year {
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 11px;
    color: rgb(124, 124, 124);
    vertical-align: initial;
}

/*

#socials {
    padding-top: 0 auto;
}*/

#event {
    
}

