* {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(221, 221, 221);
    text-decoration: unset;
    margin: 0;
    padding: 0;
    background-color: #141414;    
    box-sizing:border-box
}

body::-webkit-scrollbar {
    width: 0.8rem;
}
body::-webkit-scrollbar-track {
    background: rgb(34, 34, 34);
}
body::-webkit-scrollbar-thumb {
    background: rgba(79, 135, 161, 0.5);
}
body::-webkit-scrollbar-thumb:hover {    
    background: rgb(79, 135, 161);
}

.flash_message {
    position: fixed;    
    width: 100%;
}
.message{
    overflow: hidden;   
    background: rgb(153, 153, 153);
    
}

.message #counter, .message a, .close  {
    background: unset;
}

.message, .message #counter, .message a, .close  {
    padding: 9px 5px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 12px;
    text-align: center;
}

.message a:hover {    
    color: rgb(85, 85, 85);
}

.close {
    cursor: pointer;
    position: absolute;
    right: 0%;
    padding: 0px 16px;
    font-weight: bold;
}

.close:hover {
    color: rgb(255, 255, 255);
}

@media screen and (max-width: 500px) {
    .message, .message #counter, .message a, .close {
        font-size: 11px;
    }
}

.header {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100px;
    display: inline-block;    
}

.header a#logo {
    float: left;
    font-family: 'Courier New', Courier, monospace;
    font-size: 28px;
    padding: 0 1.5em;
    line-height: 40px;
    font-weight: bolder;
    color: rgb(187, 181, 98);
}


#header_right {
    float: right;
    font-size: 18px;
    padding: 0 2em;
    line-height: 40px;
}

.header ul {
    list-style: none;
}
.header ul li {
    display: inline;
}
.nav__wrap a {
    padding: 7px;
    color: rgb(187, 181, 98);
}


#header_right a:hover {
    background-color: rgb(105, 105, 105);
    color: rgb(255, 255, 255);
    transition: 0.5s ease;
}

@media screen and (max-width: 500px) {
    .content {
        text-align: center;
    }
    #header_right {
        float: right;
        font-size: 18px;
        padding: 0 2em;
        line-height: 40px;
    }
    .content .paragraphs, .goodluck_container {
        margin: 0 auto;
        width: 400px; 
    }
}

.content {
    padding-top: 130px; 
    text-align: center;
}
.content h1  {
    font-size: 35.5px;
    color: rgb(187, 181, 98);
}

.content .sub_title {
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: lighter;
    padding-top: 2px;
    color: rgb(79, 135, 161);
}

#thesupercapher_img {    
    margin: 20px 0 10px 0;
}

.paragraphs {
    width: 350px; 
    margin: 0 auto;
    font-size: 16px;
    letter-spacing: .5px;
    line-height: 22px;
    padding-top: 10px;
    padding-bottom: 2px;
    color: rgb(221, 221, 221);
}

.stand_out {
    font-weight: bolder;
    letter-spacing: normal;
    color: rgb(79, 135, 161);
}

.container {
    margin-top: 30px;
    text-align: center;
}
.container #more {
    outline: unset;
    border: unset;
    background: rgb(79, 135, 161);
    color: rgb(17, 17, 17);
    width: 220px;
    padding: 14px;
    font-size: 15px;
    font-weight: bolder;
    letter-spacing: 1px;
}
.container #more:hover {
    background: rgb(52, 90, 107);
    cursor: pointer;
}

.album_title {
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 23px;
    color: rgb(209, 209, 209);;
}

.cover {
    margin: 20px; 
    width: 250px;
}

.info {
    text-align: left;
    font-size: 14px;
    width: 370px; 
    margin: 0 auto;
    line-height: 21px;
    letter-spacing: .5px;
    color: rgb(165, 165, 165);
    margin-bottom: 50px;
}

.line {
    border-top: 1px solid rgb(165, 165, 165);
    margin-top: 50px;
    width: 420px;
    margin: auto;
}

@media screen and (max-width: 500px) {
    .cover {
        margin: 20px; 
        width: 200px;
    }
    
    .info {
        font-size: 12px;
        padding-left: 40px;
        width: 370px; 
        margin: 0 auto;
        line-height: 21px;
        letter-spacing: .5px;
        color: rgb(165, 165, 165);
        margin-bottom: 35px;
    }
    
    #download_button a {
        padding: 1px 2px;
        font-size: 12px;
    }
}

.socials {    
    text-align: center;
    margin: 70px 0 45px 0;
}

.socials_title {
    font-size: 14px;
    letter-spacing: 3px;
    color: rgb(110, 110, 110);
    padding-bottom: 5px;
    text-transform: uppercase;
    font-weight: lighter;
}

.socials a {
    padding: 4px;
}
.footer, #year, .footer a {
    margin-bottom: 10px;
    text-align: center;
    font-size: 11px;
    color: rgb(110, 110, 110);
}

.form_container {
    margin-top: 150px;
    margin-left: 200px;
    justify-content: center;
}

.form_titles {
    color: rgb(165, 165, 165);
    line-height: 30px;
    font-size: 14px;
}

.required {
    color: rgb(194, 43, 43);
}

.form {
    outline: none;
    border: 1px solid rgb(0, 0, 0);
    background: rgb(27, 27, 27);
    padding: 10px;
    margin-bottom: 20px;
    font-size: 14px;
}
.form:focus {
    background: rgb(58, 58, 58);
}
#submit {
    outline: none;
    border: 1px solid rgb(0, 0, 0);
    background: rgb(27, 27, 27);
    padding: 5px 45px;
    margin-bottom: 20px;
    font-size: 14px;
}
#submit:hover {
    background: rgb(58, 58, 58);
}

#first_name {
    margin-right: 20px;
}
#first_name, #last_name {
    width: 400px;

}
#email, #subject {
    width: 825px;
}

#email_message {
    width: 59em;
    height: 9em;
}

@media screen and (max-width: 1120px) {
    .form_container {
        margin-top: 120px;
        margin-left: 150px;
    }
    .form, .form_titles, #submit{
        font-size: 12px;
    }
    
    #first_name {
        margin-right: 20px;
    }
    #first_name, #last_name, #email, #subject {
        width: 300px;    
    }
    #submit {
        padding: 2px 30px;
    }
    #email_message {
        width: 300px;
        height: 100px;
    }
}
@media screen and (max-width: 500px) {
    .form_container {
        margin-top: 120px;
        margin-left: 100px;
    }
}

.hide {
    display: none;
}

#download_button {
    outline: unset;
    border: unset;
    background: rgb(79, 135, 161);
    padding: 14px 50px;
    font-size: 15px;
    font-weight: bolder;
    letter-spacing: 1px;
}

#download_button a {
    background: unset;
    color: rgb(17, 17, 17);
}

#download_button:hover {
    background: rgb(52, 90, 107);
    cursor: pointer;
}

#download_message {
    display: none;
}
